{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>
    <body>
        <div style="background-color: red; color: white; text-align: center; padding: 20px; font-size: 24px;">
            Welcome To La Social
        </div>
        <div>
            <img src="https://www.la-social.com/cdn/shop/files/Screen_Shot_2024-05-29_at_11.13.03_AM_2000x.png?v=1717002811" alt="Large Image" style="max-width: 100%; height: auto;">
        </div>
    </body>
</html>
{% endblock %}
